.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backBtnAlign{
display: "flex";
position: "absolute";
right: "0px";
padding:"2px";
cursor: pointer;
}
.custom-container{
 padding-top: 2% !important;
}
/* .backBtnAlign:hover{
  background-color: gray;
  border-radius: 15%;
  text-decoration: underline;
  color:white;
} */
.welcome-text-align{
  text-align: center;
  justify-content: center;
  padding:300px;
  font-size: 35px;
}
.search-field-width{
  width: 300px;
}
.search-field-width:focus{
  outline: none !important;
}
.dropbtn {
 /*  background-color: #3498DB; */
 /*  color: white; */
   padding-top: 5px;
  border: none;
  cursor: pointer;
  width: 160px;
  
}

.dropbtn:hover, .dropbtn:focus {
  color: white;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2px;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.displayMenu{
  display: none;
}
.pointerCursur{
  cursor: pointer;
}
.input-text-radius{
  border-radius: 14px;
  padding-left: 15px;
}
.category-link:hover{
 text-decoration: underline;
} 
.category-link{
  cursor: pointer;
 }
.list-header-text{
    padding-top: 40px;
    align-items: center;
    height: 179px;
    background-color: rgb(233, 236, 239);
}
.btn-back{
  display: flex;
  position: absolute;
  right: 38px;
  padding: 2px;
  background-color: gray;
  width: 100px;
  justify-content: center;
  border-radius: 13px;
  color: white !important;
  text-decoration: underline !important;
  margin-right: 35px;
}
